name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        include:
          - os: ubuntu-latest
            rust_target: x86_64-unknown-linux-gnu
          - os: windows-latest
            rust_target: x86_64-pc-windows-msvc

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Installing Prerequisites (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y python3 pip build-essential curl liburing-dev
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "PATH=$PATH:$HOME/.cargo/bin" >> $GITHUB_ENV

      - name: Installing Prerequisites Rust (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain none
          [Environment]::SetEnvironmentVariable("Path", $env:Path + ";C:\Users\$env:USERNAME\.cargo\bin", "User")

      - name: Install Rust Nightly
        run: |
          rustup toolchain install nightly
          rustup default nightly

      - name: Install rustfmt
        run: rustup component add rustfmt --toolchain nightly

      - name: Update Rust Toolchain
        run: rustup update nightly

      - name: Cache Cargo Registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-nightly-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-nightly

      - name: Clean cargo cache
        run: cargo clean

      - name: Build
        run: cargo build --release

      - name: Test
        run: cargo test --release

      - name: Build(Linux iouring)
        if: matrix.os == 'ubuntu-latest'
        run: cargo build --features iouring